.DS_Store
.env
.env.*
!.env.example
/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# React Router
/.react-router/
/build/
/dist/

# IDE
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/shelf/
.idea/

# Claude
CLAUDE.md
.claude/
